/* Fonts */

body, .mobileNav{
    background: #fcfcfc;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, .brand{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

/* Colors (or lack there of) */

a, p, h1, h2, h3, h4, h5, ul, li{
    color: #525252;
}

a:hover, a h1:hover{
    color: #000000;
    text-decoration: none;
}

/* Paddings */

footer{
    padding-top: 350px;
}

#navigation{
    padding-top: 56px;
}

.content{
    padding: 29px 0px 40px 0px;
}

#about, #contact, .posts{
    padding-top: 20px;
}

#about, #contact{
    line-height: 22px;
}

#about{
    font-size: 13pt;
}

.sidenav{
    padding-top: 50px;
}

.entry{
    padding-bottom: 15px;
}

.details p{
    margin-top: -10px;
    padding-bottom: 10px;
}


/* Responsive Stuff */

/* narrow */
@media screen and ( max-width: 768px ) {
    .mainCol{
        margin-top: -15px;
    }
    .article{
        margin-top: -15px;
    }
}

/* wide */
@media screen and ( min-width: 768px ) {
    .mainCol{
        padding-top: 54px;
    }
    .article{
        padding-top: 8px;
    }
}