/* Fonts */

body, .mobileNav{
    background: #fcfcfc;
    font-family: 'Lato', sans-serif;
}

h1, h2, .brand{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

/* Colors (or lack there of) */

a, p, h1, h2, h4, h5, ul, li{
    color: #525252;
}

a:hover, a h1:hover{
    color: #000000;
    text-decoration: none;
}

/* Paddings */

footer{
    padding-top: 350px;
}

#navigation{
    padding-top: 56px;
}

.content{
    padding: 29px 0px 40px 0px;
}

#about, #contact{
    line-height: 35px;
}

#about, #contact, .posts{
    padding-top: 20px;
}

.sidenav{
    padding-top: 50px;
}

.entry{
    padding-bottom: 15px;
}

.details{
    padding-left: 12px;
    margin-top: -28px;
    line-height: 18px;
}

.article{
    padding-top: 12px;
}

/* Responsive Stuff */

/* narrow */
@media screen and ( max-width: 768px ) {
    .mainCol{
        padding-top: 0px;
    }
}

/* wide */
@media screen and ( min-width: 768px ) {
    .mainCol{
        padding-top: 54px;
    }
}