/* Fonts */

body, .mobileNav{
    background: #fcfcfc;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, .brand, .raleNav, .connectModes{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

h5{
    font-family: 'Raleway', sans-serif;
}

/* Colors (or lack there of) */

a, p, h1, h2, h3, h4, h5, ul, li{
    color: #525252;
}

a:hover, a h1:hover{
    color: #000000;
    text-decoration: none;
}

/* UL */

.content ul{
    margin-top: -4px;
    padding-bottom: 18px;
    list-style-type:none;
}

.connectModes li{
    line-height: 25px;
}

/* Paddings */

.sidepanel{
    padding-top: 50px;
}

#navigation{
    padding-top: 56px;
}

.home, .about, .connect{
    padding-top: 27px;
}

.posts{
    padding-top: 19px;
}

footer{
    padding-top: 350px;
}

/* about */

#about-main p{
    padding-bottom: 20px;
}

/* Post Specific Stuff */

.content{
    padding: 29px 0px 40px 0px;
}

.entry{
    padding-bottom: 15px;
}

.description{
    margin-top: -10px;
}

.details p{
    margin-top: -10px;
    padding-bottom: 10px;
}


/* Responsive Stuff */

/* narrow */
@media screen and ( max-width: 768px ) {
    .mainCol{
        margin-top: -15px;
    }
    .article{
        margin-top: -15px;
    }
}

/* wide */
@media screen and ( min-width: 768px ) {
    .mainCol{
        padding-top: 54px;
    }
    .article{
        padding-top: 8px;
    }
}