<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% if page.title %}
                andhess: {{ page.title}}
            {% else %}
                andhess
            {% endif %}
        </title>

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato|Raleway' rel='stylesheet' type='text/css'>

        <!-- bootstrap -->
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

        <!-- my css -->
        <link rel="stylesheet" href="/assets/css/main.css" />

        <!-- google analytics -->



    </head>
    <body>
        <div class="visible-phone">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="/">andhess</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav mobileNav">
                                {% include navBullets.html %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container main-body">

            <div class="row-fluid">
                <div class="offset1 span2 sidenav"> <!--  nav-collapse collapse -->
                    <div data-spy="affix" class="affix hidden-phone">
                        <a href="/"><h1>andhess</h1></a>
                        <ul class="nav nav-pills nav-stacked" id="navigation">
                            {% include navBullets.html %}
                        </ul>
                        <footer>
                            <p><small>Andrew Hess &copy; 2013</small></p>
                        </footer>
                    </div>


                </div>

                <div class="offset1 span7 mainCol">

                    <!-- page title -->
                    <div id="pageTitle">
                        <h2>
                            {% if page.title %}
                                {{ page.title}}
                            {% else %}
                                home
                            {% endif %}
                        </h2>
                    </div>

                    <!-- stuff in the page -->
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <!-- bootstrap & jquery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>