<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <!-- my css -->
        <link rel="stylesheet" href="/assets/css/styles.css" />

        <!-- bootstrap -->
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">


    </head>
    <body>
        {{ content }}



        <!-- bootstrap & jquery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>